* {
    padding: 0;
    margin: 0;
    font-family: "Signika", sans-serif;
    text-decoration: none;
}

u {
    text-decoration: underline;
}

a {
    color: #000;
}

p {
    cursor: default;
}

.body {
    background-image: url(./../img/photo/фон.png);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100vw;
    height: 100vh; 
    
}

.content {
    min-height: calc(100vh - 8vh);
}

footer {
    background-color: #c0c0c0;
    height: 7vh;
    padding: 0.5vh 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px -4px 0px #DEF1ED;

    /* margin-top: 21.5vh; */
}

.foot-but {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #D9D9D9;
    padding: 0.5vw 1vw;
    max-width: 7%;
    box-shadow: 4px 4px 0px #4C4A4B;
}

.foot-but:hover {
    background-color: #e2e0e0;
    transform: scale(1.05);
    transition: all 0.2s ease;
}

.auth-but-vers {
    max-width: 15%;
    min-width: 15%;
    height: 40%;
}

.foot-but-img {
    width: 30%;
}

.auth-img-vers {
    width: 15%;
}

@media (max-width: 500px) {
    .auth-img-vers {
        width: 1px;
        min-width: 1px;
    }

    .auth-but-vers {
        max-width: 20%;
        min-width: 20%;
        height: 30%;
    }
}

.foot-but-text {
    font-size: calc(00.5em + 0.75vw);
}

.foot-time-block {
    width: 10%;
    padding: 0.5vw 1vw;
    background-color: #c9c9c9;
    border: 1px solid #A6A5A5;
    display: flex;
    flex-direction: row-reverse;
}

.foot-time {
    font-size: calc(0.3em + 1vw);
    font-weight: 900;
}

/* MODAL */

.modal {
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); /* цвет фона */
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in; 
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
}

.modal-two {
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); /* цвет фона */
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in; 
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
}
/* при отображении модального окно */
.modal:target {
    opacity: 1; /* делаем окно видимым */
	pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}

.modal-two:target {
    opacity: 1; /* делаем окно видимым */
	pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
@media (min-width: 576px) {
  .modal-dialog {
      max-width: 500px;
      margin: 30px auto; /* для отображения модального окна по центру */
  }
}
/* свойства для блока, содержащего контент модального окна */ 
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
@media (min-width: 768px) {
  .modal-content {
      -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
      box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }
}
/* свойства для заголовка модального окна */
.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
    background-color: #040081;
}
.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: calc(00.5em + 0.75vw);
    font-weight: 500;
    color: #fff;
}
/* свойства для кнопки "Закрыть" */
.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
    color: #fff;
}
/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus, .close:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}
/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
  position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
    background-color: #C0C0C0;
}


.modal-true {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.modal-img {
    width: 5vw;
}

.modal-text {
    font-size: calc(00.5em + 0.75vw);
    text-align: center;
    font-weight: 600;
}

.modal-but {
    background-color: #CFCECE;
    font-size: calc(00.5em + 0.8vw);
    border-left: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
    padding: 0.5vh 1vw;
    margin-left: 45%;
}