{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'main/css/main.css'%}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnMagic</title>
    <link rel="stylesheet" href="{% static 'main/css/basic-page.css'%}">
</head>
<body>
    <div class="body">
        <div class="content">
            <div class="for-first-margin"><br></div>

            <div class="icons-block">
                <a href="#" class="icon-link">
                    <img src="{% static 'main/img/icon/comp.svg' %}" alt="" class="icon">
                    <p class="icons-name">Мой компьютер</p>
                </a>

                <a href="{% url 'desktop-pup' %}" class="icon-link">
                    <img src="{% static 'main/img/icon/files.svg' %}" alt="" class="icon">
                    <p class="icons-name">Игры</p>
                </a>
            </div>

            <div class="window">
                <div class="window-blue-line">
                    <div class="window-logo">
                        <img src="{% static 'main/img/icon/littleFile.svg' %}" alt="" class="window-logo-img">
                        <p class="window-logo-text">Игры</p>
                    </div>
                    <div class="window-action-but-line">
                        <div class="window-action-but-img-bg"><img src="{% static 'main/img/icon/underline.svg' %}" alt="" class="window-action-but-img"></div>
                        <div class="window-action-but-img-bg"><img src="{% static 'main/img/icon/rectangle.svg' %}" alt="" class="window-action-but-img"></div>
                        <a href="{% url 'desktop-pup' %}" class="window-action-but-img-bg linked"><img src="{% static 'main/img/icon/littleCross.svg' %}" alt="" class="window-action-but-img"></a>
                    </div>
                </div>

                <div class="window-nav-lines">
                    <div class="window-nav">
                        <p class="window-nav-text"><u>F</u>ile</p>
                        <p class="window-nav-text"><u>E</u>dit</p>
                        <p class="window-nav-text"><u>V</u>iew</p>
                        <p class="window-nav-text"><u>F</u>avorites</p>
                        <p class="window-nav-text"><u>T</u>ools</p>
                        <p class="window-nav-text"><u>H</u>elp</p>
                    </div>

                    <div class="window-nav">
                        <a class="window-nav-back" href="{% url 'desktop-pup' %}">
                            <img src="{% static 'main/img/icon/arrow.svg' %}" alt="" class="window-nav-back-img">
                            <p class="window-nav-back-text">Back</p>
                        </a>
                        <img src="{% static 'main/img/icon/arrow.svg' %}" alt="" class="window-nav-back-img rotated">
                    </div>
                </div>

                <div class="window-body">
                    <div class="window-files-line">
                        <a href="#" class="icon-link window-body-file-link"><img src="{% static 'main/img/icon/files.svg' %}" alt="" class="window-body-file"><p class="icons-name window-file-name">Информатика</p></a>
                        <a href="#" class="icon-link window-body-file-link"><img src="{% static 'main/img/icon/files.svg' %}" alt="" class="window-body-file"><p class="icons-name window-file-name">Как поступить?</p></a>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <a href="#" class="foot-but">
                <img src="{% static 'main/img/icon/logo.png' %}" alt="" class="foot-but-img">
                <p class="foot-but-text">АККАУНТ</p>
            </a>

            <div class="foot-time-block">
                <p class="foot-time">02:18</p>
            </div>
        </footer>
    </div>
</body>
</html>