{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'main/css/main.css'%}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnMagic</title>
    <link rel="stylesheet" href="{% static 'main/css/basic-page.css'%}">
</head>
<body>
    <div class="body">
        <div class="content">
            <div class="for-first-margin"><br></div>

            <div class="icons-block">
                <a href="#" class="icon-link">
                    <img src="{% static 'main/img/icon/comp.svg' %}" alt="" class="icon">
                    <p class="icons-name">Мой компьютер</p>
                </a>

                <a href="{% url 'games-pup' %}" class="icon-link">
                    <img src="{% static 'main/img/icon/files.svg' %}" alt="" class="icon">
                    <p class="icons-name">Игры</p>
                </a>
            </div>
        </div>

        <footer>
            <a href="#" class="foot-but">
                <img src="{% static 'main/img/icon/logo.png' %}" alt="" class="foot-but-img">
                <p class="foot-but-text">АККАУНТ</p>
            </a>

            <div class="foot-time-block">
                <p class="foot-time">02:18</p>
            </div>
        </footer>
    </div>
</body>
</html>