{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'main/css/main.css'%}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnMagic</title>
    <link rel="stylesheet" href="{% static 'main/css/basic-page.css'%}">
</head>
<body>
    <div class="body">
        <div class="content">
            <div class="for-first-margin"><br></div>

            <div class="icons-block">
                <a href="#" class="icon-link">
                    <img src="{% static 'main/img/icon/comp.svg' %}" alt="" class="icon">
                    <p class="icons-name">Мой компьютер</p>
                </a>

                <a href="{% url 'games-pup' %}" class="icon-link">
                    <img src="{% static 'main/img/icon/files.svg' %}" alt="" class="icon">
                    <p class="icons-name">Игры</p>
                </a>
            </div>
        </div>

        <footer>
            <a href="#openModal5" class="foot-but">
                <img src="{% static 'main/img/icon/logo.png' %}" alt="" class="foot-but-img">
                <p class="foot-but-text">АККАУНТ</p>
            </a>

            <div class="foot-time-block">
                <p class="foot-time">02:18</p>
            </div>
        </footer>

        <div id="openModal5" class="modal-five">
            <div class="modal-dialog-five">
                <div class="modal-content">
                    <div class="modal-header modal-header-five">
                        <h3 class="modal-title modal-title-five">LEARN MAGIC</h3>
                        <a href="#" title="Close" class="close">×</a>
                    </div>
                    <div class="modal-body">    
                        <div class="modal-body-five">
                            <div class="modal-five-line">
                                <img src="{% static 'main/img/icon/user.svg' %}" alt="" class="modal-five-img">
                                <p class="modal-five-text">{{name|escapejs}}</p>
                            </div>
                            <div class="modal-five-line">
                                <p class="modal-five-text marg">{{role|escapejs}}</p>
                            </div>
                            <form class="modal-five-line" action="{% url 'exit' %}" method="post">
                                {% csrf_token %}
                                <input type="submit" value="Выйти" class="modal-five-but marg">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>